/*---------------------------------------------------------
  Class the js is looking for.
  Should be relative, absolute or fixed position
---------------------------------------------------------*/
.rsb-wrapper {
  position: relative;
  left: 0;
  top: 0;
}


/* Our trigger, should be relative if we want our share buttons to disappear behind it */
.rsb-trigger {
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.5);
  background: #fff url(img/share.png) no-repeat center center;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.rsb-trigger:hover {
  border-color: rgba(0,0,0,0.75);
}


/* Button wrapper, makes our markup look tidier */
.rsb-buttons {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Actual button */
.rsb-buttons a {
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  -webkit-transform-origin: top left;
  -webkit-transform: translateX(0px) translateY(0px);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  display: block;
  text-indent: -2000px;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(0,0,0,0.5);
  background: transparent none no-repeat center center;
  opacity: 0;
  cursor: pointer;
}

/* Button icons */
.rsb-buttons .facebook {
  background-image: url(img/facebook.png);
}
.rsb-buttons .twitter {
  background-image: url(img/twitter.png);
}
.rsb-buttons .pinterest {
  background-image: url(img/pinterest.png);
}
.rsb-buttons .googleplus {
  background-image: url(img/googleplus.png);
}
.rsb-buttons .email {
  background-image: url(img/email.png);
}

/* Define transition delay. Seems reversed? Yes, these trigger when we hide the buttons (not have the class open anymore) */
.rsb-buttons a.rsb-item-1 {
  -webkit-transition-delay: 0.2s;
}
.rsb-buttons a.rsb-item-2 {
  -webkit-transition-delay: 0.15s;
}
.rsb-buttons a.rsb-item-3 {
  -webkit-transition-delay: 0.1s;
}
.rsb-buttons a.rsb-item-4 {
  -webkit-transition-delay: 0.05s;
}
.rsb-buttons a.rsb-item-5 {
  -webkit-transition-delay: 0s;
}


/* Open Sesame! */
.rsb-wrapper.open .rsb-buttons a {
  opacity: 1;
}

.rsb-wrapper.open .rsb-buttons a:hover {
  border-color: rgba(0,0,0,0.75);
}

/* Delay when the buttons are shown, now in correct order! */
.rsb-wrapper.open .rsb-buttons a.rsb-item-1 {
  -webkit-transition-delay: 0s;
}
.rsb-wrapper.open .rsb-buttons a.rsb-item-2 {
  -webkit-transition-delay: 0.05s;
}
.rsb-wrapper.open .rsb-buttons a.rsb-item-3 {
  -webkit-transition-delay: 0.1s;
}
.rsb-wrapper.open .rsb-buttons a.rsb-item-4 {
  -webkit-transition-delay: 0.15s;
}
.rsb-wrapper.open .rsb-buttons a.rsb-item-5 {
  -webkit-transition-delay: 0.2s;
}



/*---------------------------------------------------------
  Button positions
---------------------------------------------------------*/
/* Top, this is our default and wildcard */
.rsb-wrapper.open .rsb-buttons a.rsb-item-1 {
  -webkit-transform: translateX(-75px) translateY(5px);
}
.rsb-wrapper.open .rsb-buttons a.rsb-item-2 {
  -webkit-transform: translateX(-53px) translateY(-50px);
}
.rsb-wrapper.open .rsb-buttons a.rsb-item-3 {
  -webkit-transform: translateX(5px) translateY(-75px);
}
.rsb-wrapper.open .rsb-buttons a.rsb-item-4 {
  -webkit-transform: translateX(63px) translateY(-50px);
}
.rsb-wrapper.open .rsb-buttons a.rsb-item-5 {
  -webkit-transform: translateX(85px) translateY(5px);
}

/* Bottom */
.rsb-wrapper.open.bottom .rsb-buttons a.rsb-item-1 {
  -webkit-transform: translateX(-75px) translateY(5px);
}
.rsb-wrapper.open.bottom .rsb-buttons a.rsb-item-2 {
  -webkit-transform: translateX(-53px) translateY(60px);
}
.rsb-wrapper.open.bottom .rsb-buttons a.rsb-item-3 {
  -webkit-transform: translateX(5px) translateY(85px);
}
.rsb-wrapper.open.bottom .rsb-buttons a.rsb-item-4 {
  -webkit-transform: translateX(63px) translateY(60px);
}
.rsb-wrapper.open.bottom .rsb-buttons a.rsb-item-5 {
  -webkit-transform: translateX(85px) translateY(5px);
}



/*---------------------------------------------------------
  Retina stuff
---------------------------------------------------------*/
@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dppx){ 
  .rsb-trigger {
    background-image: url(img/share@2x.png);
    background-size: 18px 27px;
  }

  .rsb-buttons a {
    background-size: 22px 22px;
  }  
  .rsb-buttons .facebook {
    background-image: url(img/facebook@2x.png);
  }
  .rsb-buttons .twitter {
    background-image: url(img/twitter@2x.png);
  }
  .rsb-buttons .pinterest {
    background-image: url(img/pinterest@2x.png);
  }
  .rsb-buttons .googleplus {
    background-image: url(img/googleplus@2x.png);
  }
  .rsb-buttons .email {
    background-image: url(img/email@2x.png);
  }
} 


